.header { background: #D5BAE4; }
.layout { position: relative;}
.layout DIV { position: absolute; }
.col1 {  width: 33%; margin-right: 10px; }
.col2 {   left: 33%; width: 33%; margin-right: 10px;}
.col3 { right: 0; width: 33%; margin-right: 10px;}